@page "/"
@using KackelboControl_App.Components.GuiComponents
@using KackelboControl_App.Models
@using KackelboControl_App.Services
@inject IApiService _apiService
@inject IDateTimeProvider _dateTimeProvider

<SunTrackerComponent StartTime="new TimeOnly(20,0)" EndTime="new TimeOnly(23,55)" />


<div class="eggRow">
    @foreach (var egg in Eggs)
    {
        <div class="eggContainer" @onclick=@(()=>SelectEgg(egg))>
            <img class="@(egg.EggSelected ? "egg":"notSelectedEgg")" src="./images/EGG.png" />
            @if(!egg.EggSelected)
            {
                <p class="addIcon">+</p>
            }           
        </div>
    }
</div>




@code {



    private SensorTriggers triggers = new();
    private List<EggCount> eggCountLog = new();
    private int? selectedDayEggCount;
    private List<Egg> Eggs = new List<Egg>()
    {
        new Egg(),
        new Egg(),
        new Egg(),
        new Egg(),
        new Egg(),
        new Egg(),
        new Egg()
    };


    protected override async Task OnInitializedAsync()
    {

        await GetSensorTriggers();
        await GetEggCount();

        await base.OnInitializedAsync();
    }

    private async Task SelectEgg(Egg egg)
    {
        egg.EggSelected = !egg.EggSelected;
        selectedDayEggCount = Eggs.Where(x => x.EggSelected).Count();
        await PostEggCount(selectedDayEggCount ?? 0);
    }

    private async Task GetSensorTriggers()
    {
        triggers = await _apiService.GetSensorTriggers();
    }

    private async Task UpdateSensorTriggers()
    {
        var update = new UpdateSensorTriggers()
            {
                LightOnTime = new TimeOnly(08, 00),
                LightOffTime = new TimeOnly(20, 35),
                MinTemp = 15.52m,
                MaxTemp = 21,
                UseSunLight = false
            };
        triggers = await _apiService.UpdateSensorTriggers(update);
    }

    private async Task PostEggCount(int eggTotal)
    {
        EggCount eggCount = new()
            {
                Count = eggTotal,
                CountDate = DateOnly.FromDateTime(_dateTimeProvider.SweTime())
            };
        await _apiService.PostEggCount(eggCount);
    }

    private async Task GetEggCountLog()
    {
        eggCountLog = await _apiService.GetEggCountLog();
    }

    private async Task GetEggCount()
    {
        selectedDayEggCount = await _apiService.GetEggCount(DateOnly.FromDateTime(_dateTimeProvider.SweTime()));
        for (int i = 0; i < selectedDayEggCount; i++)
        {
            Eggs[i].EggSelected = true;
        }
    }

    private async Task GetSensorValueHistory()
    {
        var history = await _apiService.GetSensorValueHistory(_dateTimeProvider.SweTime());
    }
}