.egg-wrapper {
    background: #fff;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

    .hen {
        width:70%;
        margin:auto;
        margin-bottom:-40px;
    }

.eggRow {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 10px;
}

.eggContainer {
    flex: 1;
    position: relative;
}


.egg {
    width: 100%;
    background: none;
    border-radius: 51% 51% 44% 44%;
    box-shadow: 0px 0px 4px #C8c8c8;
}

.addIcon {
    position: absolute;
    font-size: 35px;
    color: #909090;
    top: -5%;
    left: 25%;
}

.notSelectedEgg {
    filter: grayscale(100%);
    opacity: 0.4;
    box-shadow: none;
    width: 100%;
    background: none;
    border-radius: 51% 51% 44% 44%;
}

.graph-wrapper{
    margin-top:20px;
    overflow:hidden;
    width:100%;
}