@property --sunwrapper-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #004A4F;
}

.sun-wrapper {
    width: 100%;
    background: var(--sunwrapper-color);
    padding: 10px;
    border-radius: 20px;
}

.sun-container {
    aspect-ratio: 2/1.05;
    width: 100%;
    padding: 5%;
    margin: auto;
    overflow: hidden;
    background: var(--sunwrapper-color);
}

.sun-curve {
    width: 100%;
    height: auto;
    border-radius: 100%;
    border: none;
    position: relative;
    margin-inline: auto;
    background: #F6F6F6;
    box-shadow: 0px 0px 4px #000;
}

.sun-tracker {
    position: absolute;
    aspect-ratio: 1/1;
    width: 100%;
    height: auto;
    z-index: 2;
    display: flex;
    align-items: center;
}

.sun-arm {
    width: 50%;
    height: 20px;
    border-radius: 20%;
    align-self: center;
    z-index: 2;
    position: relative;
}

.sun {
    aspect-ratio: 1;
    height: 140%;
    border-radius: 5%;
    background-color: #FDD835;
    margin-left: -6%;
    margin-top: -3.5%;
    z-index: 2;
    position: absolute;
    display: flex;
    box-shadow: 0px 0px 4px RGBA(0, 0, 0, 0.33);
    -webkit-animation: spin 30s linear infinite;
    animation: spin 30s linear infinite
}

.sun-inner {
    aspect-ratio: 1;
    height: 95%;
    border-radius: 100%;
    background-color: #FFEB3B;
    margin: auto;
    z-index: 3;
    -webkit-animation: spin 30s linear infinite;
    animation: spin 30s linear infinite
}

.sun-gradient {
    aspect-ratio: 1;
    width: 100.1%;
    border-radius: 100%;
    transform: rotate(-90deg);
    display: flex;
    justify-content: center;
    margin: auto;
    position: relative;
}

@-webkit-keyframes spin {

    100% {
        -webkit-transform: rotate(360deg)
    }
}


@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.left-cover {
    aspect-ratio: 1;
    width: 8%;
    background: var(--sunwrapper-color);
    align-self: center;
    z-index: 1;
    position: absolute;
    top: -1.2%;
    left: 45%;
}

    .left-cover .dot {
        aspect-ratio: 1;
        width: 64%;
        margin-top: 15%;
        background-color: #FCD383;
        border-radius: 100% 0 0 100%;
        box-shadow: -2px 0px 2px #000;
        margin-left: 10px;
    }

.right-cover {
    aspect-ratio: 1;
    width: 8%;
    background: var(--sunwrapper-color);
    align-self: center;
    z-index: 1;
    position: absolute;
    bottom: -1%;
    left: 45%;
}

    .right-cover .dot {
        aspect-ratio: 1;
        width: 64%;
        margin-top: 22%;
        background-color: #F6F6F6;
        border-radius: 100% 0 0 100%;
        box-shadow: -2px 0px 1px #000;
        margin-left: 10px;
    }

.sun-cover {
    background: var(--sunwrapper-color);
    aspect-ratio: 1;
    width: 90%;
    margin: auto;
    border-radius: 100%;
    transform: rotate(90deg);
    display: flex;
    overflow: hidden;
    box-shadow: #000 0px 0px 6px 0px inset;
    display: flex;
    justify-content: center;
    gap: 15%;
    padding: 13% 10% 0% 10%;
    color: #fff;
}

    .sun-cover div {
        text-align: center;
        font-size: 25pt;
    }

.material-symbols-outlined {
    font-weight: 700;
    font-size: 50px;
    color: #EE9563;
    text-shadow: 0px 0px 4px #000;
}
