<div class="temp-wrapper">
    <div>
        <p class="title">
            @Title (°C)
        </p>
        <input class="temp-selecter" @bind-value="SelectedTemp" type="number" min="0" max="25" />
    </div>    
</div>

@code {
    private int _value;

    [Parameter]
    public decimal SelectedTemp
    {

        get => _value;
        set
        {
            if (_value == (int)value) return;
            _value = (int)value;

            if (SelectedTempChanged.HasDelegate)
            {
                SelectedTempChanged.InvokeAsync(value);
            }
        }
    }

    [Parameter]
    public EventCallback<decimal> SelectedTempChanged { get; set; }

    [Parameter]
    public string? Title { get; set; }
}

